
<div id="calendar">
    <table id="calendar" align="center" border="10" cellpadding="2">
        <h1 id="calendar"><%= @date.strftime('%B') %></h1>
      <tr>
        <th id="calendar"><%= @date.strftime('%A') %></th>
        <% for i in @days %>
            <th id="calendar"><%= @date.next_day(i).strftime('%A') %></th>
        <% end %>
      </tr>
        <% next_month = @date.next_month %>
        <% until @date >= next_month %>
          <tr>
            <td id="calendar">
              <%= @date.mday %>
              <% for date in @event_dates %>
                <% if date == @date.to_s %>
                    <button class="open pure-button">Expand/Collapse</button>
                    <div class="content">
                    <ul id="list">
                      <% for event in @events %>
                          <% if event.date == @date %>
                      <li>
                        |<%= event.name %>|, <%= event.time %>
                        <% if @parent %>
                          <%= event.creator %>
                        <% end %>
                      </li>
                          <% end %>
                      <% end %>
                    </ul>
                    </div>
                  <% end %>
              <% end %>
            </td>
            <% for i in @days %>
              <td id="calendar">
                <%= @date.next_day(i).mday %>
                <% for date in @event_dates %>
                  <% if date == @date.next_day(i).to_s %>
                        <button class="open pure-button">Expand</button>
                        <div class="content">
                            <% for event in @events %>
                                <% if event.date == @date.next_day(i) %>
                                    |<%= event.name %>|, <%= event.time %>
                                    <% if @parent %>
                                        <%= event.creator %>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>
                  <% end %>
              </td>
            <% end %>
          </tr>
          <% @date = @date.next_day(7) %>
        <% end %>
    </table>
</div>