<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <meta charset="UTF-8">
  <title>Overseer</title>
</head>
<body>
<div id="Header">
  <div id="menu">
    <a class="pure-button" href="/">Home</a>
    <a class="pure-button" href="/overview">Overview</a>
    <a class="pure-button" href="/calender">Calender</a>
  </div>
  <% if @user %>
      <div id="logged_in">
        <span id="header"><p>Inloggad som <%= @user.name %></p></span>
        <form id="logout" action="/logout" method="post">
          <button class="pure-button" type="submit">Logga ut</button>
        </form>
      </div>
  <% elsif @parent %>
      <div id="logged_in">
        <span id="header"><p>Inloggad som <%= @parent.name %></p></span>
        <form id="logout" action="/logout" method="post">
          <button class="pure-button" type="submit">Logga ut</button>
        </form>
      </div>
  <% end %>
</div>
<div id="container">
  <div id="create_event">
    <h3>Create an event</h3>
    <form action="/create_event" method="post">
      <input name="name" type="text" placeholder="Name">
      <br>
      <input name="date" type="text" placeholder="Date(yyyy-mm-dd)">
      <br>
      <input name="time" type="text" placeholder="Time(hh-mm)">
      <br>
      <input name="description" type="text" placeholder="Description(Optional)">
      <br>
      <% if @user %>
      <p>Keep it secret?</p>
        <% for option in @options %>
          <label for="<%= option %>"><%= option %></label>
          <input name="secret" id="<%= option %>" value="<%= option %>" type="radio">
        <% end %>
      <% elsif @parent %>
        <select name="user">
        <option value=" " disabled="disabled" selected="selected">Please select an user</option>
        <% for relation in @relations %>
              <option value="<%= relation.user_id %>" id="<%= relation.user_name %>"><%= relation.user_name %></option>
        <% end %>
        </select>
        <br>
        <br>
      <% end %>
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
  </div>
</div>
</body>
</html>