
  <div id="create_event">
    <h3>Create an event</h3>
    <form action="/create_event" method="post">
      <input name="name" type="text" placeholder="Name">
      <br>
      <input name="date" type="text" placeholder="Date(yyyy-mm-dd)">
      <br>
      <input name="time" type="text" placeholder="Time(hh-mm)">
      <br>
      <input name="description" type="text" placeholder="Description(Optional)">
      <br>
      <% if @user %>
      <p>Keep it secret?</p>
        <% for option in @options %>
          <label for="<%= option %>"><%= option %></label>
          <input name="secret" id="<%= option %>" value="<%= option %>" type="radio">
        <% end %>
      <% elsif @parent %>
        <select name="user">
        <option value=" " disabled="disabled" selected="selected">Please select an user</option>
        <% for relation in @relations %>
              <option value="<%= relation.user_id %>" id="<%= relation.user_name %>"><%= relation.user_name %></option>
        <% end %>
        </select>
        <br>
        <br>
      <% end %>
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
  </div>