<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
</head>
<body>
<div id="Header">
  <a href="/">Home</a>
  <a href="/overview">Overview</a>
  <a href="/calender">Calender</a>
</div>
  <div id="create_event">
    <form action="/create_event" method="post">
      <input name="name" type="text" placeholder="Name">
      <br>
      <input name="date" type="text" placeholder="Date">
      <br>
      <input name="time" type="text" placeholder="Time">
      <br>
      <input name="description" type="text" placeholder="Description(Optional)">
      <br>
      <% if @user %>
      <p>Keep it secret?</p>
        <% for option in @options %>
          <label for="<%= option %>"><%= option %></label>
          <input name="secret" id="<%= option %>" value="<%= option %>" type="radio">
        <% end %>
      <% elsif @parent %>
        <select name="user">
        <option value=" " disabled="disabled" selected="selected">Please select an user</option>
        <% for relation in @relations %>
              <option value="<%= relation.user_id %>" id="<%= relation.user_name %>"><%= relation.user_name %></option>
        <% end %>
        </select>
      <% end %>
      <button type="submit">Create Event</button>
    </form>
  </div>
</body>
</html>