<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Overview</title>
  <link rel="stylesheet" type="text/css" href="../public/css/layout.css">
</head>
<body>
<div id="Header">
  <a href="/">Home</a>
  <a href="/overview">Overview</a>
  <a href="/calender">Calender</a>
</div>
<% if @user %>
    <div id="user_logged_in">
      <span>Inloggad som <%= @user.name %>
      <form action="/logout" method="post">
        <button type="submit">Logga ut</button>
      </form>
      </span>
    </div>
  <div id="create_event">
    <form action="/create_event" method="get">
      <button type="submit">Create Event</button>
    </form>
  </div>
  <div id="create_schedule">
    <form action="/create_schedule" method="get">
      <button type="submit">Create Schedule</button>
    </form>
  </div>
  <div id="parents">
    <form action="/parents" method="get">
      <button type="submit">Föräldrar</button>
    </form>
  </div>
  <div id="events">
    <h1>Events</h1>
    <% for event in @events %>
      <h3><%= event.name %></h3>
        <%= event.date %>
        <%= event.time %>
        <br>
        <%= event.description %>
        <br>
        Private: <%= event.secret %>
        <br>
        <%= event.creator %>
        <br>
        <form action="/event/<%= event.id %>/delete" method="post">
          <button class="remove" data-message-id="<%= event.id %>" type="submit">Remove</button>
        </form>
    <% end %>
  </div>
  <div id="schedule">
    <h1>Schedule</h1>
    <% for day in @week %>
      <div class="day">
        <h3>|<%= day %>|</h3>
        <% for lesson in @lessons %>
          <% if lesson.day == day %>
            |<%= lesson.name %>|
            <br>
            |<%= lesson.time %>|
                <form action="/lesson/<%= lesson.id %>/delete" method="post">
                  <button class="remove" data-message-id="<%= lesson.id %>" type="submit">Remove</button>
                </form>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% elsif @parent %>
    <div id="parent_logged_in">
      <span>Inloggad som <%= @parent.name %>
      <form action="/logout" method="post">
        <button type="submit">Logga ut</button>
      </form>
      </span>
    </div>
  <div id="create_event">
    <form action="/create_event" method="get">
      <button type="submit">Create Event</button>
    </form>
  </div>
  <div id="add_user">
    <form action="add_user" method="get">
      <button type="submit">Add user</button>
    </form>
  </div>
      <div id="events">
        <h1>Events</h1>
      <% for event in @events %>
          <h3><%= event.name %></h3>
          <%= event.date %>
          <%= event.time %>
          <br>
          <%= event.description %>
          <br>
          <%= event.creator %>
            <form action="/event/<%= event.id %>/delete" method="post">
              <button class="remove" data-message-id="<%= event.id %>" type="submit">Remove</button>
            </form>
      <% end %>
    </div>
    <div id="schedule">
      <h1>User Schedules</h1>
        <% for day in @week %>
            <div class="day">
              <h3>|<%= day %>|</h3>
              <% for lesson in @lessons %>
                  <% if lesson.day == day %>
                      |<%= lesson.name %>|
                      <br>
                      |<%= lesson.time %>|
                      <br>
                      |<%= lesson.creator %>|
                  <% end %>
              <% end %>
            </div>
        <% end %>
    </div>
<% else %>
  <p><a href="/register">Register</a> an account if you want to access this page</p>
<% end %>
</body>
</html>