
<% if @user %>
  <div id="user_menu">
    <form id="menu" action="/create_event" method="get">
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
    <form id="menu" action="/create_schedule" method="get">
      <button class="start pure-button" type="submit">Create/Edit Schedule</button>
    </form>
    <form id="menu" action="/parents" method="get">
      <button class="start pure-button" type="submit">Parents</button>
    </form>
  </div>
  <% if @sorted_event %>
  <div id="events">
      <h1 id="events">Upcoming Events</h1>
    <div id="center_events">
    <% for event in @sorted_event %>
      <div class="event">
        <h3><%= event.name %></h3>
          <%= event.date %>
          <%= event.time %>
          <br>
          <%= event.description %>
          <br>
          <% if event.creator == Parent.first(name: event.creator) %>
          Private: <%= event.secret %>
          <br>
          <% end %>
          <%= event.creator %>
          <br>
          <form action="/event/<%= event.id %>/delete" method="post">
            <button class="start pure-button" data-message-id="<%= event.id %>" type="submit">Remove</button>
          </form>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if @schedule %>
  <div id="schedule">
    <h1 id="events">Schedule</h1>
    <div id="week">
    <% for day in @week %>
      <div id="day">
        <h3>|<%= day %>|</h3>
        <% for lesson in @sorted_lesson %>
          <% if lesson.day == day %>
            <div id="lesson">
            |<%= lesson.name %>|
            <br>
            |<%= lesson.time %>|
            <br>
                <form action="/lesson/<%= lesson.id %>/delete" method="post">
                  <button class="start pure-button" data-message-id="<%= lesson.id %>" type="submit">Remove</button>
                </form>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
<% elsif @parent %>
  <div id="parent_menu">
    <form id="menu" action="/create_event" method="get">
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
    <form id="menu" action="add_user" method="get">
      <button class="start pure-button" type="submit">Add user</button>
    </form>
  </div>
    <% if @sorted_event %>
      <div id="events">
       <h1 id="events">Upcoming Events</h1>
        <div id="center_events">
      <% for event in @sorted_event %>
          <div class="event">
          <h3><%= event.name %></h3>
          <%= event.date %>
          <%= event.time %>
          <br>
          <%= event.description %>
          <br>
          <%= event.creator %>
          <br>
            <form action="/event/<%= event.id %>/delete" method="post">
              <button class="start pure-button" data-message-id="<%= event.id %>" type="submit">Remove</button>
            </form>
          </div>
      <% end %>
        </div>
    </div>
    <% end %>
    <div id="schedule">
      <h1 id="events">User Schedules</h1>
      <div id="week">
        <% for day in @week %>
            <div id="day">
              <h3>|<%= day %>|</h3>
              <% for lesson in @sorted_lesson %>
                  <% if lesson.day == day %>
                      <div id="lesson">
                      |<%= lesson.name %>|
                      <br>
                      |<%= lesson.time %>|
                      <br>
                      |<%= lesson.creator %>|
                      </div>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>