<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Overview</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
<div id="Header">
  <div id="menu">
    <a class="pure-button" href="/">Home</a>
    <a class="pure-button" href="/overview">Overview</a>
    <a class="pure-button" href="/calender">Calender</a>
  </div>
  <% if @user %>
      <div id="logged_in">
        <span id="header">Inloggad som <%= @user.name %></span>
        <form action="/logout" method="post">
          <button class="pure-button" type="submit">Logga ut</button>
        </form>
      </div>
  <% elsif @parent %>
    <div id="logged_in">
      <span id="header">Inloggad som <%= @parent.name %></span>
       <form action="/logout" method="post">
         <button class="pure-button" type="submit">Logga ut</button>
       </form>
    </div>
  <% end %>
</div>
<div id="container">
<% if @user %>
  <div id="user_menu">
    <form id="menu" action="/create_event" method="get">
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
    <form id="menu" action="/create_schedule" method="get">
      <button class="start pure-button" type="submit">Create/Edit Schedule</button>
    </form>
    <form id="menu" action="/parents" method="get">
      <button class="start pure-button" type="submit">Föräldrar</button>
    </form>
  </div>
  <% if @events %>
  <div id="events">
    <h1 id="events">Events</h1>
    <% for event in @events %>
      <div id="event">
      <h3><%= event.name %></h3>
        <%= event.date %>
        <%= event.time %>
        <br>
        <%= event.description %>
        <br>
        <% if event.creator == Parent.first(name: event.creator) %>
        Private: <%= event.secret %>
        <br>
        <% end %>
        <%= event.creator %>
        <br>
        <form action="/event/<%= event.id %>/delete" method="post">
          <button class="start pure-button" data-message-id="<%= event.id %>" type="submit">Remove</button>
        </form>
        </div>
    <% end %>
  </div>
  <% end %>
  <% if @schedule %>
  <div id="schedule">
    <h1>Schedule</h1>
    <% for day in @week %>
      <div id="day">
        <h3>|<%= day %>|</h3>
        <% for lesson in @lessons %>
          <% if lesson.day == day %>
            |<%= lesson.name %>|
            <br>
            |<%= lesson.time %>|
            <br>
                <form action="/lesson/<%= lesson.id %>/delete" method="post">
                  <button class="start pure-button" data-message-id="<%= lesson.id %>" type="submit">Remove</button>
                </form>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
<% elsif @parent %>
  <div id="parent_menu">
    <form id="menu" action="/create_event" method="get">
      <button class="start pure-button" type="submit">Create Event</button>
    </form>
    <form id="menu" action="add_user" method="get">
      <button class="start pure-button" type="submit">Add user</button>
    </form>
  </div>
      <div id="events">
        <h1 id="events">Events</h1>
      <% for event in @events %>
          <div id="event">
          <h3><%= event.name %></h3>
          <%= event.date %>
          <%= event.time %>
          <br>
          <%= event.description %>
          <br>
          <%= event.creator %>
          <br>
            <form action="/event/<%= event.id %>/delete" method="post">
              <button class="start pure-button" data-message-id="<%= event.id %>" type="submit">Remove</button>
            </form>
          </div>
      <% end %>
    </div>
    <div id="schedule">
      <h1>User Schedules</h1>
        <% for day in @week %>
            <div id="day">
              <h3>|<%= day %>|</h3>
              <% for lesson in @lessons %>
                  <% if lesson.day == day %>
                      |<%= lesson.name %>|
                      <br>
                      |<%= lesson.time %>|
                      <br>
                      |<%= lesson.creator %>|
                  <% end %>
              <% end %>
            </div>
        <% end %>
    </div>
<% else %>
  <p><a href="/register">Register</a> an account if you want to access this page</p>
<% end %>
</div>
</body>
</html>