<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta charset="UTF-8">
  <title>Föräldrar</title>
</head>
<body>
<div id="Header">
  <div id="menu">
    <a class="pure-button" href="/">Home</a>
    <a class="pure-button" href="/overview">Overview</a>
    <a class="pure-button" href="/calender">Calender</a>
  </div>
<% if @user %>
    <div id="logged_in">
      <span>Inloggad som <%= @user.name %>
        <form action="/logout" method="post">
          <button class="pure-button" type="submit">Logga ut</button>
        </form>
      </span>
    </div>
<% end %>
</div>
<div id="container">
  <p>Your account is linked with:</p>
  <div id="Confirmation">
      <% for relation in @relations %>
        <li>
          <%= relation.parent_name %>
        <form id="Confirmation" action="/relation/<%= relation.id %>/delete" method="post">
          <button class="start pure-button" data-message-id="<%= relation.id %>" type="submit">Remove</button>
        </form>
        </li>
      <% end %>
    <br>
    <p>Pending parent accounts:</p>
    <br>
    <ul>
      <% for request in @requests %>
        <li><%= request.parent_name %></li>
        <form action="/adding_parent" method="post">
          <button class="start pure-button" type="submit">Accept</button>
        </form>
      <% end %>
    </ul>
  </div>
</div>
</body>
</html>